[mysql]
default-character-set = utf8

[mysql.server]
default-character-set = utf8

[mysqld-safe]
default-character-set = utf8

[mysqld]
collation-server = utf8mb4_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8mb4
secure_file_priv = /docker-entrypoint-initdb.d

[client]
default-character-set = utf8
